ACR_IMAGE=crpi-vu9eu0iguupfgpzi.cn-guangzhou.personal.cr.aliyuncs.com/dypluto/motioncare
APP_VERSION=deploy-commit-sha
POSTGRES_DB=motioncare
POSTGRES_USER=motioncare
POSTGRES_PASSWORD=generated-alphanumeric-password
REDIS_PASSWORD=generated-alphanumeric-password
DJANGO_SECRET_KEY=generated-long-secret
DJANGO_ALLOWED_HOSTS=mcare.whestsun.com,mcare-api.whestsun.com,mcare-wx.whestsun.com,motioncare-api,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://mcare.whestsun.com,https://mcare-api.whestsun.com,https://mcare-wx.whestsun.com
QINIU_ACCESS_KEY=
QINIU_SECRET_KEY=
QINIU_BUCKET=motioncare
QINIU_DOWNLOAD_DOMAIN=
TRAINING_VIDEO_SERVER_MIN_FREE_BYTES=2147483648
PP_TINYPOSE_COMMAND=
